{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">

<meta http-equiv="cleartype" content="on">

<style>
a{color:#363732}
p{color:#363732}
h2{font-size: 1.2em}
h1{font-size: 1.7em; font-weight: bold; color:#00b050;}
ol.split { list-style-type: none; }
ol.split li:before{counter-increment: mycounter; content: counter(mycounter) ".\00A0\00A0"; color:#00b050; font-weight:bold}
ol.split li{text-indent: -1.3em;}
ol.start { counter-reset: mycounter; }
ol.start li, ol.continue li {list-style: none;}
ol.start li:before, ol.continue li:before { content: counter(mycounter) ". "; counter-increment: mycounter; color:#00b050; font-weight:bold}
</style>