{% include base_path %}

<div class="masthead" style="border-bottom: 3px solid #00b050">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% if link.title == "About me" %}
              <li><a href="{{ domain }}{{ link.url }}">
                <img src="/images/mountains.svg" width="60px"/></a>
              </li>
              <li class="masthead__menu-item" style="font-size:1.0em;"><a href="{{ domain }}{{ link.url }}" style="color:#00b050; font-weight:bold;">HOME</a>
              </li>              
            {% else %}
              <li class="masthead__menu-item" style="font-size:1.0em;"><a href="{{ domain }}{{ link.url }}" style="color:#00b050; font-weight:bold;">{{ link.title }}</a></li>              
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>