---
layout: default
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

<div style="border-bottom: 3px solid #00b050">
  <img src="/images/osseau.png"/>
</div>

<div id="main" role="main" style="width: 75%; margin-top:2.0em;">
  <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>
